<!DOCTYPE html>
<html lang="en-US" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/site.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" type="text/css">
</head>
<body ng-controller="ApplicationController">

<div id="page-holder">
    <header>
        <section class="title">
            <h1>{{title}}</h1>
            <img src="images/di-logo.png" />
        </section>
        <nav>
            <ul ng-controller="MenuController" ng-if="menuactive">
                <li ng-repeat="item in menu" ng-class="{active: page == item.title_s}"><a href="#/{{item.title_s}}">{{item.title_s}}</a></li>
                <li><a href="index.html">Sign out</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <section class="page-holder">
            <ng-view></ng-view>

            <login></login>
        </section>

        <section class="side-bar">
            <div class="well">
                <h3>Side Bar</h3>
                <p>This is static content that will stay the same between pages.</p>
            </div>
        </section>
    </div>

</div>

<script data-main="js/main.js" src="js/lib/require/require.js"></script>
</body>
</html>