@import url('normalize.css');
@import url('themes/css/1.0.0/default/bootstrap.css');

@media all and (min-width: 791px)  {
    html  {
        height:100%;
    }

    body {
        height:100%;
        font-size:12px;
    }

    .page-holder ul li {
        width:50%;
        float:left;
        height:100%
    }

    .side-bar {
        flex:1
    }

    .page-holder {
        flex:4;
    }

    .content {
        display:-webkit-flex;
        display:flex;
        height:90%;
        width:100%;
    }
}

@media all and (max-width: 790px)  {
    html  {
        height:100%;
    }

    body {
        font-size:9px;
        height:100%;
    }

    h2 {
        font-size:2em;
    }

    .page-holder ul li {
        width:100%;
        float:left;
        clear:both;
    }

    nav ul {

    }

    nav h1 {
        position:absolute;
        right:0;
        top:0;
        margin:14px;
    }

    .side-bar {
        float:left;
        clear:both;
        width:100%;
    }


    .page-holder {
        width:100%;
        float:left;
    }
}


#drawingPane {
	position: relative;
	background-color:#333634;
}

#backgroundImage {
	z-index:0;
	position:absolute;
	left:0px;
	top:0px;
}

#drawingCanvas {
	z-index:1;
	position:absolute;
	left:0px;
	top:0px;
}

/* general */

h1 {
    font-size:2em;
    color:white;
    line-height:0;
    color:brown;
    margin:1em 0;
}

ul {
    padding:0;
    margin:0;
    list-style-type:none;
}

li span {
    margin:1.2em;
    display:block;
}

form input[type='text']  {
    border:1px solid #bcbcbc;
}

header {
    height:40px;
    position:relative;
    margin:1em;
}

nav {
    height:40px;
    background-color:brown;
    -webkit-border-radius: 3px
}

nav ul {
    float:right;
    margin:0 1em;
}

nav ul li {
    display:inline-block;
    margin:0 0 0 1em;
    height:100%;
}

nav ul li a {
    height:100%;
    display:block;
    color:#ffffff;
    font-size:1.2em;
    line-height: 40px;
    text-transform:capitalize;
}

nav ul li a:hover {
    color:#ffffff;
}

nav h1 {
    position:absolute;
    right:0;
    top:0;
    margin:26px;
}

.error {
    color: red;
    width: 100%;
    text-align: center;
    display: block;
    padding:5px
}

.side-bar {
}

.side-bar div {
    margin:1.2em;
}

.page-holder {
    padding:0;
    height:100%
}

input[type="submit"] {
    -webkit-border-radius:3px;
    border:1px solid #bcbcbc;
    margin-top:10px;
    width:100%;
    height:32px;
}

/* login */

label a, .btn, input, label {
    font-size: 14px !important;
}

.login {
    display:table-cell;
    vertical-align: middle;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10000;
    background-color:#343434
}

.login-form {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 250px;
}

input[type=text],
input[type=password] {
    border: none;
    height: 32px;
    opacity: 0.9;
    filter: ~"alpha(opacity=90)";
    padding: 0 10px;
    width: 100%;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type=text]:focus,
input[type=password]:focus {
    opacity: 1;
    filter: ~"alpha(opacity=100)";
}

label, label a:hover {
    color: #bbb;
}

label a {
    font-size: 12px !important;
    color: #666;
}

.btn {
    margin: 20px 0 0 0;
    line-height: 26px;
    border: none;
}

a.header {
    display: block;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    width:100%;
    text-align:center;
    color: #fff;
}

a.header:hover {
    text-decoration: none;
}

a.header strong {
    font-size: 22px;
}

a.header img {
    display: block;
    position: absolute;
    margin: -6px 0 0 -50px;
}

a.header img, a.header span {
    opacity: 0.2;
    filter: ~"alpha(opacity=20)";
}

a.header:hover img, a.header:hover span {
    opacity: 0.6;
    filter: ~"alpha(opacity=60)";
}

/* Animations */
.login-form,
input[type=text],
input[type=password],
a.header img,
a.header span {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* css3 spinner */
.spinner {
    margin:0 auto;
    position:relative;
    width:70px;
}


.loading > div {
    background-color: #454545;
    border: 1px solid #FFFFFF;
    float: left;
    height: 27px;
    margin-left: 2px;
    width: 10px;
    opacity:0.1;


    /* css3 transform - scale */
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);

    /* css3 animation */
    -webkit-animation-name:loading;
    -webkit-animation-duration:1.2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -moz-animation-name:loading;
    -moz-animation-duration:1.2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -o-animation-name:loading;
    -o-animation-duration:1.2s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
}
.loading > div:nth-child(1) {
    /* css3 animation */
    -webkit-animation-delay:0.24s;
    -moz-animation-delay:0.24s;
    -o-animation-delay:0.24s;
}
.loading > div:nth-child(2) {
    /* css3 animation */
    -webkit-animation-delay:0.48s;
    -moz-animation-delay:0.48s;
    -o-animation-delay:0.48s;
}
.loading > div:nth-child(3) {
    /* css3 animation */
    -webkit-animation-delay:0.72s;
    -moz-animation-delay:0.72s;
    -o-animation-delay:0.72s;
}
.loading > div:nth-child(4) {
    /* css3 animation */
    -webkit-animation-delay:0.96s;
    -moz-animation-delay:0.96s;
    -o-animation-delay:0.96s;
}
.loading > div:nth-child(5) {
    /* css3 animation */
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -o-animation-delay:1.2s;
}

/* css3 keyframes - loading */
@-webkit-keyframes loading {
    0% {
        -webkit-transform:scale(1.2);
        opacity:1;
    }
    100% {
        -webkit-transform:scale(0.7);
        opacity:0.1;
    }
}
@-moz-keyframes loading {
    0% {
        -moz-transform:scale(1.2);
        opacity:1;
    }
    100% {
        -moz-transform:scale(0.7);
        opacity:0.1;
    }
}
@-o-keyframes loading {
    0% {
        -o-transform:scale(1.2);
        opacity:1;
    }
    100% {
        -o-transform:scale(0.7);
        opacity:0.1;
    }
}






